<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    </head>
    <body>
        <form id="add" autocomplete="off">
            <div class="w-50 mx-5 mt-5">
            <label class="form-label"><h2>Your comment to <%=dev.name%></h2></label>
            <input class="form-control mt-3" name="content">
            </div>
            <span class="mx-5">
                <button type="button sumbit" class="border border-0 bg-transparent"><i class="bi bi-star" style="font-size: 50px" id="starButton1"></i></button>
                <button type="button sumbit" class="border border-0 bg-transparent"><i class="bi bi-star" style="font-size: 50px" id="starButton2"></i></button>
                <button type="button sumbit" class="border border-0 bg-transparent"><i class="bi bi-star" style="font-size: 50px" id="starButton3"></i></button>
                <button type="button sumbit" class="border border-0 bg-transparent"><i class="bi bi-star" style="font-size: 50px" id="starButton4"></i></button>
                <button type="button sumbit" class="border border-0 bg-transparent"><i class="bi bi-star" style="font-size: 50px" id="starButton5"></i></button>
            </span>
            <span>
                <input type="number" id="value" name="rating" style="display: none;">
                <input type="text" value="<%=dev._id%>" name="id" style="display: none;">
            </span>
        </form>
        <!-- <script src="comments.js"></script> -->
        <script>$(document).ready(function ()
            {
                const btn1i = () => { $("#starButton1").css("color", "gold") };
                const btn2i = () => { btn1i(); $("#starButton2").css("color", "gold") };
                const btn3i = () => { btn2i(); $("#starButton3").css("color", "gold") };
                const btn4i = () => { btn3i(); $("#starButton4").css("color", "gold") };
                const btn5i = () => { btn4i(); $("#starButton5").css("color", "gold") };
            
                const btn1f = () => { $("#starButton1").css("color", "black") };
                const btn2f = () => { btn1f(); $("#starButton2").css("color", "black") };
                const btn3f = () => { btn2f(); $("#starButton3").css("color", "black") };
                const btn4f = () => { btn3f(); $("#starButton4").css("color", "black") };
                const btn5f = () => { btn4f(); $("#starButton5").css("color", "black") };
            
                $("#starButton1").hover(btn1i, btn1f);
                $("#starButton2").hover(btn2i, btn2f); 
                $("#starButton3").hover(btn3i, btn3f);
                $("#starButton4").hover(btn4i, btn4f);
                $("#starButton5").hover(btn5i, btn5f);
            
                $("#starButton1").click(function () { $("#value").attr("value", "1"); });
                $("#starButton2").click(function () { $("#value").attr("value", "2"); });
                $("#starButton3").click(function () { $("#value").attr("value", "3"); });
                $("#starButton4").click(function () { $("#value").attr("value", "4"); });
                $("#starButton5").click(function () { $("#value").attr("value", "5"); });
            
                $("#add").submit(function (event) 
                { 
                    event.preventDefault();
                    $.ajax
                    ({ 
                        url: "http://localhost:6969/comments", 
                        type: "POST", 
                        data: $("#add").serialize(),
                        success: function (data) 
                        { 
                            alert("Your comment was successfully submitted!"); 
                            window.location = "/developers"
                        }
                    });
                });
            
                $(".deleteButton").click(function ()
                {
                    const val = $(this).val();
                    $.ajax
                    ({
                      url: "http://localhost:6969/comments/" + val,
                      type: "DELETE",
                      success: function (data) { $('.card:contains("' + val + '")').remove(); }  
                    });
                });
            
                $(".editButton").click(function ()
                {
                    const val = $(this).val();
                    $.ajax
                    ({
                        url: "http://localhost:6969/comments/" + val,
                        type: "GET",
                        success: function (data) 
                        { 
                            const content = data.content;
                            const id = data._id;
                            $("#p" + id).remove(); 
                            $('#edit' + id).css("display", "inline");
                            $("#form" + val).append('<button type="button" class="btn btn-outline-warning btn-lg updateButton mx-5" value="' + val + '">update</button>');
                            $(".updateButton").click( function () 
                            {
                                const val = $(this).val();
                                $.ajax
                                ({
                                    url: "http://localhost:6969/comments/" + val,
                                    type: "PUT",
                                    data: $("#form" + val).serialize(),
                                    success: function () 
                                    { 
                                        $('#edit' + id).css("display", "none");
                                        $("#form" + val + " button").remove();
                                        $("#card" + id).append("<p>" + $('#edit' + id).val() + "</p>");
                                    }
                                });
                            });
                        }  
                    });
                });
            });</script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </body>
</html>