<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="/profileEditor.css">
</head>
<body>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"><%= dev._id %><i id="edit_name"
                                                                                     class="bi bi-pencil"></i></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="dropdown">
                    <div class="container">
                        <div class="row">
                            <div class="col-7">
                                language know:
                                <% for(var i = 0; i < dev.langs.length; i++) { %>
                                    <%= dev.langs[i] %>
                                    <% if(i + 1 < dev.langs.length) { %>
                                        ,
                                    <% } %>
                                <% } %>
                                <br>
                                <button type="button" class="btn btn-secondary">edit language</button>
                            </div>
                            <div class="col-5" style="text-align: end;">
                                <div class="profilepic">
                                    <img class="profilepic__image" id="edit_img"
                                         src="data:dev/<%= dev.picture %>;base64,<%= dev.picture %>" alt="profile image"
                                         style="width: 100%">
                                    <div class="profilepic__content">
                                        <span class="profilepic__icon"><i class="bi bi-camera"></i></span>
                                        <span class="profilepic__text">Edit Profile</span>
                                        <input class="inputPic" id="file" type="file" onchange="loadFile(event)"/>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script src="profileEditor.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
</html>