.container {
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
  }
  .child {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
  }

@font-face {
    font-family: lightFont;
    src: url("/SansationLight/SansationLight.woff");
  }


#logo{
    width:50px;
    border-radius: 10%;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
    margin-bottom: 0;
}

/* Add a gray background color and some padding to the footer */
footer {

    padding: 25px;
}

.btn {
    background-color: rgb(241, 241, 241);
    border-color: white;
    color: black;
}

.btn:hover {
    background-color: rgb(232, 232, 232);
    color: black;
}

#map {
    height: 500px;
    width: 100%;
}

p {
    font-family: lightFont;
  }

video {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: all 1s;
  }

  video:hover {
    width: 640px;
    height: 360px;
    border-radius: 5%;
}

#about{
    column-count: 2;
  }